@use '@/styles/variables' as vars;
@use '@/styles/placeholders' as holders;

.container {
  position: relative;
  text-align: center;
  width: 100vw;
  height: 100vh;
  .nav {
    position: absolute;
    inset: 0;
    .nav_list {
      display: grid;
      grid-template-columns: 1fr;
      align-content: center;
      justify-items: center;
      gap: 2rem;
      margin-top: 2rem;
    }

    .nav_item {
      @extend %uppercase;

      .nav_link {
        color: vars.$clr-secondary;

        &_active {
          color: vars.$clr-white;
          border-bottom: 2px solid vars.$clr-white;
          padding-bottom: 0.25rem;
        }
      }
    }
  }
}
